.debug-menu{
    position: fixed;
}
.work{
    padding: 0;
    border-width: 0;
}
#ex1Slider .slider-selection {
    background: #BABABA;
}
.container-fluid{
    padding-left: 0; padding-right: 0;
}
#sticker{
    float: left;
}


.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
    color: #ffffff;
    background-color: #149c82;
}


.two ul {
    background: #D4E7EE;
    overflow: hidden;
    padding: 0;
}
.two li {
    float: left;
}
.two a {
    display: block;
    padding: 1em;
    border-right: 1px solid #ADC0CE;
    background: rgba(173, 192, 206, .3);
    color: #29838C;
}
.two a:hover {background: #ADC0CE}

.a{
    text-decoration: none;
}