
<div class="row" style="margin-top: 1%;">

    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog modal-lg " style="min-width: 1200px;">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Enter your data:</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>Post</label>
                        <textarea id="summernote" class="form-control" rows="3"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button (click)="savePost();" data-dismiss="modal" class="btn btn-success pull-right">Submit</button>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-2" style="padding-left: 0; padding-right: 0; min-height: 600px; ">
        <div class="panel panel-default" style="min-height: inherit;">

            <div class="panel-body" dnd-sortable-container [sortableData]="listOne" (onSortableSuccess)="replaceElements()">
                Pages<hr>
                <div class="panel panel-success" *ngFor="let item of listOne; let i = index" dnd-sortable [sortableIndex]="i">
                    <div class="panel-body">
                        <div>{{item}}</div>
                    </div>
                </div>
            </div>

        </div>
    </div>



    <div class="col-md-10" style="padding-left: 1px; padding-right: 1px; min-height: 600px;">
        <div class="panel panel-default" style="min-height: inherit;">

            <div class="panel-body dnd-placeholder" dnd-droppable (onDropSuccess)="addToWorkArea($event)" [dropZones]="['demo1']"  >
                Workspace<hr>

                <div *ngFor="let product of workAreaComponents" class="col-sm-6"
                     style="border: 1px solid black; min-height: 50px;" (click)="showModal()">
                    <div [innerHTML]="product.code | escapeHtml"></div>
                </div>

            </div>

        </div>
    </div>


    <div class="col-md-2" style="padding-left: 0; padding-right: 0; min-height: 600px;">
        <div class="panel panel-default" style="min-height: inherit;">

            <div dnd-droppable class="panel-body">
                Components:
                <hr>
                <div *ngFor="let product of availableComponents" class="panel panel-default"
                     dnd-draggable [dragEnabled] [dropZones]="['demo1']"
                     [dragData]="product">
                    <div class="panel-body">
                        {{product.name}}
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>