<div class="row" style="margin-top: 1%;">


    <!--<div id="summernote">Hello Summernote</div>-->
    <div class="col-md-2" style="padding-left: 0; padding-right: 0; min-height: 600px;">
        <div class="panel panel-default" style="min-height: inherit;">
            <div dnd-droppable class="panel-body">
                Components:
                <hr>
                <div *ngFor="let product of availableComponents" class="panel panel-default "
                     dnd-draggable [dragEnabled] [dropZones]="['demo1']"
                     [dragData]="product">
                    <div class="panel-body">
                        {{product.name}}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-10" style="padding-left: 1px; padding-right: 1px; min-height: 600px;">
        <div class="panel panel-default" style="min-height: inherit;">

            <div class="panel-body dnd-placeholder" dnd-droppable
                 (onDropSuccess)="addLineContainer($event)"
                 [dropZones]="['demo1']" >
                Workspace
                <div *ngIf="showSlider">
                    <div class="row col-md-10">
                        <input type="range" min="0" max="10" step="1" value="6">
                    </div>
                    <div class="col-md-2-">fdg</div>
                </div>
                <div *ngFor="let lineContainer of lineContainers">

                    <div class=" text-center" style="border: 1px solid black">
                        <div style="border: 1px solid black">

                            <div class="col-md-12 work">
                                <div *ngFor="let container of lineContainer.containers" class="{{container.classCss}} dnd-placeholder"
                                     style="border: 1px solid black"
                                     dnd-droppable
                                     (onDropSuccess)="addToWorkArea($event,container,lineContainer)"
                                     [dropZones]="['demo1']">


                                    <button (click)="totoggleShowResize(container)">click</button>
                                    <div *ngIf="container.items.length==0">{{container.id}}</div>
                                    <div *ngFor="let item of container.items" style="border: 1px solid black;">
                                        <div *ngIf="item.name === 'Item'" data-toggle="modal"
                                             data-target="#create-modal"
                                             (click)="toSelectItem(item)">
                                            <div class="row col-md-offset-1"
                                                 [innerHTML]="item.postText | escapeHtml"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>

                    </div>


                </div>

            </div>

        </div>
    </div>
</div>


<div class="modal fade" id="create-modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div>
                    <h4 class="modal-title" id="modalLabel">Form creation
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </h4>
                </div>
            </div>
            <div class="modal-body">
                <div class="well off-top">
                    <h4>Post something with Summernote:</h4>
                    <div class="form-group">
                        <label>Post</label>
                        <textarea id="summernote" class="form-control" rows="10"> </textarea>
                    </div>
                </div>
            </div>
            <div class="modal-footer ">
                <button class="btn btn-primary" data-dismiss="modal" (click)="savePost($event)">Submit</button>
            </div>
        </div>
    </div>
</div>

