.debug-menu{
    position: fixed;
}
.work{
    padding: 0;
    border-width: 0;
}
#ex1Slider .slider-selection {
    background: #BABABA;
}
.container-fluid{
    padding-left: 0; padding-right: 0;
}
#sticker{
    float: left;
    min-height: 400px;
    width: 220px

}
#sticker-sticky-wrapper{
    width: 220px;
}
.sticky-wrapper{
    width: 220px;
}