<div class="row">
    <div class="col-md-4">
        <img [src]="userImgUrl" class="img-circle center-block" style="width:140px;height:140px; center-block; margin-bottom: 10px;" />
        <a class="btn btn-default center-block" href="#" role="button">Change</a>
    </div>
    <div class="col-md-8">
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th>Sites quantity</th>
                <th>Ratings</th>
            </tr>
            </thead>
            <tbody>
            <tr class="text-center">
                <td>1</td>
                <td>0</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>


