<div class="container col-md-10 col-md-offset-1">
    <div class="row">
        <div class="col-md-4" style="display: inline;">
            <img data-toggle="modal" data-target="#create-modal" (click)="toFormCreateWebSite()"
                 src="app/user.page/img/sarkhad.png" class="img-circle"
                 style="width:140px;height:140px;margin-bottom: 10px;float: left;"/>
            <div style="display: inline; float: left; margin-left: 40px">
                <h3>Username</h3>
                <h5 style="margin-top: 30px">Sites: {{webSites.length}}</h5>
            </div>
        </div>
        <div class="col-md-8">
            <div class="panel panel-info">
                <div class="panel-heading">
                    Achievements
                </div>
                <div class="panel-body">
                    <table>
                        <td>
                            <img data-toggle="tooltip" title="Hooray!" data-placement="bottom" (click)="gray()"
                                 src="app/user.page/img/First.png" class="cursor-pointer achievement {{achievementsClass}}">
                        </td>
                        <td>
                            <img data-toggle="tooltip" title="Hooray!" data-placement="bottom"
                                 src="app/user.page/img/FivePage.png" class="cursor-pointer achievement {{achievementsClass}}">
                        </td>
                        <td>
                            <img data-toggle="tooltip" title="Hooray!" data-placement="bottom"
                                 src="app/user.page/img/Tag.png" class="cursor-pointer achievement {{achievementsClass}}">
                        </td>
                    </table>


                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-success">
        <div class="panel-heading">WebSites</div>

        <table class="table table-striped table-hover" [mfData]="webSites" #mf="mfDataTable"  [mfRowsOnPage]="5">
            <thead>
            <tr>
                <th style="width: 30%">
                    <mfDefaultSorter by="title">Title</mfDefaultSorter>
                </th>

                <th class="text-center" style="width: 30%">
                    <mfDefaultSorter by="rating">Rating</mfDefaultSorter>
                </th>
                <th class="text-center" style="width: 10%">
                    <mfDefaultSorter by="date">Date</mfDefaultSorter>
                </th>
                <th style="width: 30%"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let item of mf.data" (click)="selectWebSite(item)">
                <td style="padding-top: 21px">
                    <div class="cursor-pointer" data-toggle="modal" data-target="#view-description-modal">{{item.title}}
                    </div>
                </td>
                <td class="text-center">
                    <rating [(ngModel)]="item.rating"
                            [max]="5"
                            [readonly]="false"
                            [disabled]="false"
                            [required]="true"
                            [float]="true"
                            [titles]="['one', 'two', 'three', 'four', 'five']">
                    </rating>
                </td>
                <td class="text-center" style="padding-top: 21px">{{item.dateView}}</td>

                <td style="float: right; padding-top: 17px">
                    <img src="app/user.page/img/View.png" data-toggle="modal" data-target="#view-modal"
                         class="cursor-pointer tool">
                    <img src="app/user.page/img/Edit.png" class="cursor-pointer tool">
                    <img src="app/user.page/img/Trash.png" data-toggle="modal" data-target="#delete-webSite-modal"
                         class="cursor-pointer tool">
                </td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td colspan="5">
                    <mfBootstrapPaginator ></mfBootstrapPaginator>
                </td>
            </tr>
            </tfoot>
        </table>
    </div>
</div>

<!--View-Modal-->
<div class="modal fade" id="view-modal">
    <modalViewSite [webSite]=selectedWebSite [selectedViewPage]=selectedWebSite.pages[0]
                   [colorMenu]=selectedWebSite.menuColor></modalViewSite>
</div>
<!--View-description-Modal-->
<div class="modal fade" id="view-description-modal">
    <modalViewDescription [title]=selectedWebSite.title [tags]=selectedWebSite.tags
                          [description]=selectedWebSite.description></modalViewDescription>
</div>

<!--Delete WebSite Modal -->
<div class="modal fade" id="delete-webSite-modal">
    <modalDelete [titleText]=modalText.TitleDeleteWebSite [bodyText]=modalText.BodyDeleteWebSite
                 (deleting)="DeleteWebSite()"></modalDelete>
</div>

