#myInput		{
    width:30%;
    -webkit-transition:width 0.3s ease-in-out;
}
#myInput:focus	{
    width:100%;
    -webkit-transition:width 0.5s ease-in-out;
}
.container{
    padding-top: 2%;
}
.red{
    color:red;
}
#col-table{
    padding-left: 0;
}
.tags{
    padding-top: 35px;
}
.tag {
    font-family: Helvetica, Arial, sans-serif;
    background: #588fe5;
    display: inline-block;
    color: #fff;
    position: relative;
    padding: 2px;
    border-radius: 4px;
    margin: 8px 5px 0 0 ;
    text-decoration: none;
    height: 26px;
}

.tag:hover {
    background-color: #739fe4;
}
.samtag{
    padding: 0 5px;
}

.tag:hover:after {
    border-color: transparent transparent transparent #739fe4;
}
.tool{
    margin-left:10px;
    height: 25px;
    width: 25px
}
.achievement{
    margin-left:10px;
    height: 70px;
    width: 70px
}
.gray {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
}
