<div class="container col-md-12">
    <div class="row">
        <div class="col-md-4">
            <img src="app/user.page/img/sarkhad.png" class="img-circle center-block"
                 style="width:140px;height:140px; center-block; margin-bottom: 10px;"/>
            <a class="btn btn-default center-block" href="#" role="button">Change</a>
        </div>
        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Achievements
                </div>
                <div class="panel-body">
                    <img src="app/user.page/img/First.png"
                         class="cursor-pointer" style=" margin-left:10px;">
                    <img src="app/user.page/img/FivePage.png" class="cursor-pointer"
                         style="margin-left:10px;">
                    <img src="app/user.page/img/Tag.png"
                         class="cursor-pointer" style=" margin-left:10px;">
                </div>
            </div>
        </div>
    </div>
    <div class=" row col-md-offset-2">
        <button class="btn btn-info" data-toggle="modal" data-target="#create-modal"
                (click)="toFormCreateWebSite()">Create new WebSite
        </button>
    </div>
    <div class="container class coll-md-2">
        <div class="panel panel-default">
            <div class="panel-heading">My WebSites</div>

            <table class="table table-hover" [mfData]="webSites" #mf="mfDataTable">
                <thead>
                <tr>
                    <th style="width: 30%">
                        <mfDefaultSorter by="title">Title</mfDefaultSorter>
                    </th>

                    <th class="text-center" style="width: 30%">
                    <mfDefaultSorter by="rating">Rating</mfDefaultSorter>
                    </th>
                    <th class="text-center" style="width: 10%">
                    <mfDefaultSorter by="date">Date</mfDefaultSorter>
                    </th>
                    <th style="width: 30%"></th>
                </tr>
                <tr>
                    <th colspan="5">
                        Filter by name:
                        <input class="form-control" [(ngModel)]=title>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let item of mf.data">
                    <td style="padding-top: 21px">{{item.title}}</td>
                    <td class="text-center">
                        <rating [(ngModel)]="item.rating"
                                [max]="5"
                                [readonly]="false"
                                [disabled]="false"
                                [required]="true"
                                [float]="true"
                                [titles]="['one', 'two', 'three', 'four', 'five']">
                        </rating>
                    </td>
                    <td class="text-center" style="padding-top: 21px">{{item.dateView}}</td>

                    <td style="float: right; padding-top: 10px" (click)="selectWebSite(item)">
                        <img src="app/user.page/img/View.png" data-toggle="modal" data-target="#view-modal"
                             class="cursor-pointer" style=" margin-left:10px; height: 35px;width: 35px">
                        <img src="app/user.page/img/Edit.png" class="cursor-pointer"
                             style="margin-left:10px; height: 35px;width: 35px">
                        <img src="app/user.page/img/Trash.png" data-toggle="modal" data-target="#delete-webSite-modal"
                             class="cursor-pointer" style=" margin-left:10px;height: 35px;width: 35px">
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!--Create-Modal-->
<div class="modal fade" id="create-modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div>
                    <h4 class="modal-title" id="modalLabel">Form creation WebSite
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </h4>
                </div>
            </div>
            <div class="modal-body">
                <div class="form-area">
                    <div class="form-group {{classInputTitle}}">
                        <label class="control-label">Title</label>
                        <input id="inputTitle" type="text" class="form-control" name="name" placeholder="Enter title"
                               (click)="classInputTitle=''">
                    </div>
                    <div class="form-group ">
                        <label class="control-label">Description</label>
                        <textarea id="inputDescription" class="form-control" type="textarea"
                                  placeholder="Enter description" maxlength="140" rows="6"></textarea>
                    </div>
                    <div class="form-group">
                        <table class="table">
                            <tbody>
                            <tr>
                                <td class="col-md-6" id="col-table">
                                    <label class="control-label">Tegs</label>
                                    <div class="input-group">
                                        <input id="inputTag" maxlength="22" type="text" class="form-control"
                                               placeholder="Enter teg" name="q"
                                               (keyup.enter)="toAddTeg(titleInput.value); titleInput.value = ''"
                                               #titleInput>
                                        <div class="input-group-btn">
                                            <button class="btn btn-default" type="submit"
                                                    (click)="toAddTeg(titleInput.value); titleInput.value = ''"
                                            >Add
                                            </button>
                                        </div>
                                    </div>
                                    <label for="select" class="control-label padding-top-15">Select type
                                        menu</label>
                                    <select id="selectTypeMenu" class="form-control" id="select">
                                        <option value="1">Horizontal</option>
                                        <option value="2">Dropdown</option>
                                    </select>
                                    <label class="control-label padding-top-15" style="float: left">Select color menu
                                    </label>
                                    <div style="padding-top: 14px; float: left; padding-left: 10px">
                                        <color-picker [(ngModel)]="model" [pickerConfig]="config"
                                                      (ngModelChange)="change($event)"></color-picker>
                                    </div>
                                </td>
                                <td class="col-md-6">
                                    <ul class="col-sm-offset-1" class="tags">
                                        <li class="tag" *ngFor="let teg of newTags"><span
                                                class="samtag">{{teg}}</span>
                                            <button class="close"
                                                    (click)="DeleteTeg(teg)">
                                                <span>×</span>
                                            </button>
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer ">
                <button type="button" name="submit" class="btn btn-success pull-right "
                        (click)="toSubmitForm()">Submit Form
                </button>
            </div>
        </div>
    </div>
</div>

<!--View Modal-->
<!--<div class="modal fade" id="view-modal">-->
<!--<modalViewSite [webSite]=selectedWebSite [selectedViewPage]=selectedWebSite.pages[0] [colorMenu]=selectedWebSite.colorMenu></modalViewSite>-->
<!--</div>-->

<!--Delete WebSite Modal -->
<div class="modal fade" id="delete-webSite-modal">
    <modalDelete [titleText]=modalText.TitleDeleteWebSite [bodyText]=modalText.BodyDeleteWebSite
                 (deleting)="DeleteWebSite()"></modalDelete>
</div>

